body{
 /* background-color: 	#600080; */
 margin: 5%;
 text-align: center;
}
div{
    padding: 8%;
    background-color: #4285F4;
    border-radius: 20%;
    color:rgb(0, 0, 0);
    text-align: center;
    margin: 20%;
    font-family: 'Orbitron', sans-serif   
}